@font-face {
  font-family: 'Ceviche_One';
  src: url('./Assets/Fonts/CevicheOne-Regular.ttf') format ('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  src: url('./Assets/Fonts/Kodchasan-Regular.ttf') format ('truetype'); 
}
@font-face {
  font-family: 'Lilita One';
  src: url('./Assets/Fonts/LilitaOne-Regular.ttf') format ('truetype');
}
body {
    background-color: #F6F1F1;
  }
